{# src/Sondage/SurveyBundle/Resouces/views/Survey/display.html.twig #}
{% extends 'SondageSurveyBundle::layout.html.twig' %}

{# {% block title %}{{ survey.title }}{% endblock %} #}

{% block body %}
    <div id="survey-list" class="survey-list with-border">
    {% embed "SondageSurveyBundle:Survey:list_survey.html.twig" %}
    {% endembed %}
    </div>
    {% javascripts
    '@SondageSurveyBundle/Resources/public/js/survey.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}