{% extends 'SondageSurveyBundle::layout.html.twig' %}

{% block body %}
    <div>
        Sondage homepage
    </div>
    {% embed "SondageSettingsBundle::carousel.html.twig" %}
    {% endembed %}
{% endblock %}