<div id="myCarousel" class="carousel slide span9" style="margin-top: 20px">
    <!-- Carousel items -->
    <div class="carousel-inner">
        {% for i in 1..3 %}
            {% if (i == 1) %}
                <div class="active item"><img src="http://getbootstrap.com/2.3.2/assets/img/bootstrap-mdo-sfmoma-0{{ i }}.jpg" /></div>
            {% else %}
                <div class="item"><img src="http://getbootstrap.com/2.3.2/assets/img/bootstrap-mdo-sfmoma-0{{ i }}.jpg" /></div>
            {% endif %}
        {% endfor %}
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>