body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* IE10 Consumer Preview */
    /*background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #99BA9F 100%);*/

    /* Mozilla Firefox */
    /*background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #99BA9F 100%);*/

    /* Opera */
    /*background-image: -o-linear-gradient(top left, #FFFFFF 0%, #99BA9F 100%);*/

    /* Webkit (Safari/Chrome 10) */
    /*background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(1, #99BA9F));*/

    /* Webkit (Chrome 11+) */
    /*background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #99BA9F 100%);*/

    /* W3C Markup, IE10 Release Preview */
    /*background-image: linear-gradient(to bottom right, #FFFFFF 0%, #99BA9F 100%);*/
    min-height: 850px;
}
.main-col {
	/*width: 100%;*/
    /*height: 768px;*/
    /*margin-left: auto;*/
	/*margin-right: auto;*/
	/*display: inline-block; */
	/*background-color: #F3F3F3;*/
}
.navbar-fixed-top {
	padding-top: 168px; 
}

.survey-list {
    /*width: 60%;*/
}

ul {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.survey-list ul.list li, .slideshow-pictures-list ul.list li {
    list-style-type: none;
}

.command-action {
    width: 100%;
}

.with-border {
    border: 1px solid #ccc;
    -moz-border-radius: 4px 4px;
    -webkit-border-radius: 4px 4px;
    border-radius: 4px 4px;
}


#myCarousel .img-responsive {
    max-height: 500px;
}

#myCarousel .item img {
    margin-left: auto;
    margin-right: auto;
}


#myCarousel .carousel-indicators li {
    background-color: black;
}

#myCarousel .carousel-indicators .active {
    background-color: #ccc;
}
#myCarousel .carousel-control {
    background-image: none;
    color: #000;
}



[class^="survey-icon-"],[class*=" survey-icon-"]{
    display:inline-block;
    width:27px;
    height:27px;
    margin-right:.3em;
    line-height:14px;
    vertical-align:middle;
    background-image:url("../../bundles/sondagesurvey/images/elegant_blue_web_full_160.png");
    background-position:27px 27px;
    background-repeat:no-repeat;
    margin-top:1px;
}

.survey-icon-pencil {
    background-position:-133px 0px;
}
.survey-icon-remove {
    background-position:-80px -134px;
}

.logo-picture {
    background-image: url("../../bundles/sondagesurvey/images/sondage.png");
    display: inline-block;
}

.logo-title {
    font-weight: bold;
    display: inline-block;
    vertical-align:top;
}


@media only screen and (min-width:640px) {
	.logo {
		max-width: 100%; 
        /* IE10 Consumer Preview */
        background-image: -ms-linear-gradient(left, #FFFFFF 0%, #000000 100%);

        /* Mozilla Firefox */
        background-image: -moz-linear-gradient(left, #FFFFFF 0%, #000000 100%);

        /* Opera */
        background-image: -o-linear-gradient(left, #FFFFFF 0%, #000000 100%);

        /* Webkit (Safari/Chrome 10) */
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #FFFFFF), color-stop(1, #000000));

        /* Webkit (Chrome 11+) */
        background-image: -webkit-linear-gradient(left, #FFFFFF 0%, #000000 100%);

        /* W3C Markup, IE10 Release Preview */
        background-image: linear-gradient(to right, #FFFFFF 0%, #000000 100%);
	}

    .logo-title {
        font-size: 100px;
        min-height: 177px;
        text-shadow:4px 4px #C9C9C9;
    }

    .logo-picture {
        background-size: 177px 177px;
        width: 177px;
        height: 177px;
    }
}

@media only screen and (max-width:640px) {
	.logo { 
		max-width: 100%; 
        /* IE10 Consumer Preview */
        background-image: -ms-linear-gradient(left, #FFFFFF 0%, #000000 100%);

        /* Mozilla Firefox */
        background-image: -moz-linear-gradient(left, #FFFFFF 0%, #000000 100%);

        /* Opera */
        background-image: -o-linear-gradient(left, #FFFFFF 0%, #000000 100%);

        /* Webkit (Safari/Chrome 10) */
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #FFFFFF), color-stop(1, #000000));

        /* Webkit (Chrome 11+) */
        background-image: -webkit-linear-gradient(left, #FFFFFF 0%, #000000 100%);

        /* W3C Markup, IE10 Release Preview */
        background-image: linear-gradient(to right, #FFFFFF 0%, #000000 100%);
	}

    .logo-title {
        font-size: 50px;
        min-height: 80px;
        text-shadow:2px 2px #C9C9C9;

    }

    .logo-picture {
        background-size: 80px 80px;
        width: 80px;
        height: 80px;
    }

    .survey-list {
        width:100%;
    }

    .carousel-indicators {
       display: none;
    }
}

